**/coremods
**/crash-reports
**/gtceu
**/ldlib
**/local
**/logs
**/mods
**/resourcepacks
**/saves
**/screenshots
**/shaderpacks
**server-resource-packs
**/texturepacks
**/xaero
emi.json
icon.png
options.txt
patchouli_data.json
usercache.json
usernamecache.json