**/coremods
**/crash-reports
**/gtceu
**/ldlib
**/local
**/logs
**/resourcepacks
**/saves
**/screenshots
**/shaderpacks
**server-resource-packs
**/texturepacks
**/trees
**/xaero
XaeroWaypoints*
emi.json
icon.png
options.txt
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json
