**/.cache
**/coremods
**/crash-reports
**/data
**/defualtconfigs
**/local
**/logs
**/modernfix
**/mods
**/resourcepacks
**/saves
**/schematics
**/server-resource-packs
**/shaderpacks
**/texturepacks
**/xaero
emi.json
icon.png
options.txt
usercache.json
usernamecache.json
